<ion-view view-title="Mi cuenta" class="slide-in-up ">
  <ion-content>
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Nombre</span>

      </label>
      <div class="card">
        <div class="item item-text-wrap" ng-bind="vm.profile.name">
        </div>
      </div>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Email</span>
      </label>
      <div class="card">
        <div class="item item-text-wrap" ng-bind="vm.profile.email">
        </div>
      </div>
      <div class="padding">
        <button class="button button-block button-assertive"
                ng-click="vm.logout()">Cerrar sesión
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
