<ion-bottom-sheet-view class="stable-border">
    <ion-header-bar align-title="left">
        <h3 class="title"></h3>
        <button class="button button-icon icon ion-android-close" ng-click="vm.closeBottomSheet()"></button>
    </ion-header-bar>
    <ion-content>
        <div class="row">
            <div class="col col-20 aligner aligner-center-content">
                <img src="img/gas-station.png" class="aligner-item"/>
            </div>
            <div class="col col-80">
                <div class="list">
                    <div class="item item-divider">
                        <h3 class="title">{{vm.selectedStation.name}}</h3>
                    </div>
                    <a class="item item-icon-left item-icon-right rating" ng-click="vm.openRateStationModal()"
                       ng-show="loggedIn">
                        <i class="icon ion-ios-star rated"></i>
                        <span class="badge badge-positive" ng-bind="vm.selectedStation.rating"></span>
                        <i class="icon ion-android-arrow-forward"></i>
                    </a>

                </div>

            </div>
        </div>
    </ion-content>
</ion-bottom-sheet-view>
