<ion-bottom-sheet-view class="map-bottom-sheet stable-border">
    <ion-header-bar align-title="left">
        <h3 class="title slide-in-down" ng-class="vm.selectedStation.id">{{vm.selectedStation.name}}</h3>
        <button class="button button-icon icon ion-android-close" ng-click="vm.closeBottomSheet()"></button>
    </ion-header-bar>
    <ion-content>
        <div class="row">
            <div class="col col-25 aligner aligner-center-content">
                <img ng-s ng-src="{{vm.selectedStation.image}}" class="aligner-item"/>
            </div>
            <div class="col col-75">
                <div class="list">
                    <a class="item item-icon-left item-icon-right rating" ng-click="vm.openRateStationModal()"
                       ng-show="loggedIn">
                        <i class="icon ion-ios-star rated"></i>
                        <span class="badge badge-positive" ng-show="vm.selectedStation.ratingValue !== null"
                              ng-bind="vm.selectedStation.ratingValue | number:1"></span>
                        <span class="badge badge-positive" ng-show="vm.selectedStation.ratingValue === null">
                            sin evaluar aún
                        </span>
                        <span class="item-note">
                            Evaluar
                        </span>
                        <i class="icon ion-android-arrow-forward"></i>
                    </a>
                    <a class="item  item-icon-right" ng-click="vm.calculateRoute()">
                        <span class="item-note">
                            Cómo llegar
                        </span>
                        <i class="icon ion-android-navigate"></i>
                    </a>
                </div>

            </div>
        </div>
    </ion-content>
</ion-bottom-sheet-view>
