<ion-bottom-sheet-view>
    <ion-header-bar align-title="left">
        <h3 class="title">{{vm.selectedStation.name}}</h3>
        <button class="button button-icon icon ion-android-close" ng-click="vm.closeBottomSheet()"></button>
    </ion-header-bar>
    <ion-content>
        <div class="row">
            <div class="col col-20 aligner aligner-center-content">
                <img src="img/gas-station.png" class="aligner-item"/>
            </div>
            <div class="col col-80">
                <form ng-submit="doLogin()">
                    <div class="list">
                        <label class="item item-input">
                            <span class="input-label">Rating</span>
                        </label>
                        <rating ng-model="rating" max="5" ></rating>
                    </div>
                </form>
            </div>
        </div>
    </ion-content>
</ion-bottom-sheet-view>
