<ion-modal-view>
  <ion-header-bar align-title="left">
    <h3 class="title">Evalua esta estación</h3>
    <button class="button button-icon icon ion-android-close" ng-click="vm.closeRateStationModal()"></button>
  </ion-header-bar>
  <ion-content>
    <div class="text-center padding"><span ng-bind="vm.selectedStation.name" class="padding station-name"></span></div>
    <form ng-submit="vm.rateStation()">
      <div class="list">
        <div class="item text-center">
          <div>Valorar</div>
          <rating ng-model="vb.selectedStation.rating"></rating>
        </div>
        <label class="item item-input item-select">
          <div class="input-label">
            ¿Qué podemos mejorar?
          </div>
          <select>
            <option value="" selected>--Elige una opción--</option> <!-- EMPTY VALUE ATTRIBUTE HERE -->
            <option value="price">Precio</option>
            <option value="customer_care">Atención</option>
          </select>
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Deja un comentario">
        </label>
      </div>
      <div class="padding">
        <button class="button button-block button-positive">Enviar</button>
      </div>
    </form>
  </ion-content>
</ion-modal-view>