<ion-view view-title="Mi cuenta">
  <ion-content>
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Nombre</span>
        <input type="text" placeholder="Nombre" ng-model="vm.profile.name">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Email</span>
        <input type="text" placeholder="Last Name" ng-model="vm.profile.email">
      </label>
      <div class="padding">
        <button class="button button-block button-positive">Guardar</button>
      </div>
      <div class="padding">
        <button class="button button-block button-assertive"
                ng-click="vm.logout()">Cerrar sesión
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
