<ion-view view-title="Gasolineras VIP">
    <ion-content data-tap-disabled="true" scroll="false">
        <script type="text/ng-template" id="myLocationControl.tpl.html">
            <div class="padding">
                <button class="button button-small button-positive icon ion-navigate"
                        ng-click="centerOnMyLocation()"/>
            </div>
        </script>
        <ui-gmap-google-map center='vm.map.center' zoom='vm.map.zoom' options='vm.mapOptions' pan="true">
            <ui-gmap-map-control template="myLocationControl.tpl.html" position="RIGHT_TOP"
                                 controller="MapWidgetsCtrl"/>
            <ui-gmap-window coords="vm.stationInfoWindow.coords" show="vm.stationInfoWindow.show"
                            options="vm.stationInfoWindow" closeClick="vm.markerWindowCloseClick()"
                            templateUrl="vm.stationInfoWindow.templateUrl"
                            templateParameter="vm.stationInfoWindow.templateParameter" ng-cloak>
            </ui-gmap-window>
            <ui-gmap-markers models="vm.stationMarkers" coords="'self'" icon="'icon'" click="onClick">
            </ui-gmap-markers>
            <ui-gmap-marker coords="vm.myLocation" options="vm.myLocationMarker.options"
                            idkey="vm.myLocationMarker.id" icon="vm.myLocationMarker.icon">
            </ui-gmap-marker>
        </ui-gmap-google-map>
    </ion-content>
</ion-view>
