<ion-modal-view>
  <ion-header-bar align-title="left">
    <button class="button button-icon icon ion-android-close" ng-click="close()"></button>
    <h3 class="title">Evalua esta estación</h3>
  </ion-header-bar>
  <ion-content>
    <div class="text-center padding"><span ng-bind="newStationRating.name" class="padding station-name"></span></div>
    <form name="rateForm" novalidate="" ng-submit="submitStationRating(rateForm)" ng-cloak>
      <div class="list">
        <div class="item text-center">
          <div>Valorar</div>
          <rating ng-model="newStationRating.rating"></rating>
        </div>

        <label class="item item-input item-select"
               ng-class="{ 'has-errors' : rateForm.whatToImprove.$invalid && rateForm.$submitted }"
                ng-show="newStationRating.rating > 0 && newStationRating.rating < 4">
          <div class="input-label">
            ¿Qué podemos mejorar?
          </div>
          <select name="whatToImprove" ng-model="newStationRating.whatToImprove"
                  ng-options="improvement.name as improvement.description for improvement in improvementAreas"
                  ui-validate=" 'whatToImproveIsValid($value)' "
                  ui-validate-watch=" 'newStationRating.rating' ">
          </select>
        </label>
        <div class="error-container" ng-show="rateForm.whatToImprove.$invalid && rateForm.$submitted"
             ng-messages="rateForm.whatToImprove.$error">
          <div class="error" ng-message="validator">
            <i class="ion-information-circled"></i>
            Elija una opción
          </div>
        </div>

        <label class="item item-input"
               ng-class="{ 'has-errors' : rateForm.comment.$invalid && rateForm.$submitted }">
          <textarea type="text" rows="4" placeholder="Deja un comentario" name="comment" ng-model="newStationRating.comment"
                 maxlength="1000"></textarea>
        </label>
        <div class="error-container last-error-container" ng-show="rateForm.comment.$invalid && rateForm.$submitted"
             ng-messages="rateForm.comment.$error">
          <div class="error" ng-message="maxlength">
            <i class="ion-information-circled"></i>
            Máximo 1000 caracteres
          </div>
        </div>
      </div>

      <div class="padding">
        <button class="button button-block button-positive" type="submit"
                ng-show="newStationRating.rating > 0">
          Enviar
        </button>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
